
  <div class="row">
  <div class="form-group">
      
      <input type="text" class="form-control" placeholder="Enter UserName" [(ngModel)]="githubUserName" name="githubUserName">
  </div>
    <div class="form-group">
        <button type="button" (click)="fetchUser()" class="btn btn-primary">Get info</button>
    </div>
  </div>
        <div *ngIf="loading">loading...</div>

        <div *ngIf="errorMessage" class="alert alert-warning">
            <strong>Warning!</strong> {{errorMessage}}
        </div>
        <div>
         <h3>User Name: {{user.login}}{{user.email}}</h3>
        <h4>No. of repos: {{user.public_repos}}</h4>
        <h4>Followers: {{user.followers}}</h4>
        <h4>Following: {{user.following}}</h4>
        </div>
  
      