
  <div class="row">
  <div class="form-group">
      
      <input type="text" class="form-control" placeholder="Enter UserName" [(ngModel)]="githubUserName" name="githubUserName">
  </div>
    <div class="form-group">
        <button type="button" (click)="fetchUser()" class="btn btn-primary">Get info</button>
    </div>
  </div>
        <div *ngIf="loading">loading...</div>

        <div *ngIf="errorAlert" class="alert alert-warning">
            <strong>Warning!</strong> {{errorAlert}}
        </div>
        <div>
         <h3>User Name: {{ githubUser.login}}{{githubUser.email}}</h3>
        <h4>No. of repos: {{githubUser.public_repos}}</h4>
        <h4>Followers: {{githubUser.followers}}</h4>
        <h4>Following: {{githubUser.following}}</h4>
        </div>
  
      